<header class="navbar navbar-default navbar-fixed-top main-header">
    <div class="container-fluid">
        <div class="col-xs-3">
            <div class="user-info">
                <div class="row">
                    <div class="col-xs-1">
                            <span ng-class="vmNav.sidebar.visible ? 'fa fa-chevron-left' : 'fa fa-chevron-right'"
                                  ng-click="vmNav.sidebar.sidebarToggle(vmNav.sidebar.visible)"></span>
                    </div>
                    <div class="col-xs-2">
                        <img src="../../images/cat.jpg" class="img-circle">
                    </div>
                    <div class="col-xs-8">
                        <div class="name">
                            <p>Анна
                                <button class="btn btn-default btn-sm" ng-click="vmNav.logOut()">Вийти</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-9" id="head">
            <div class="col-xs-4">
                <div class="dates">
                    <p>
                        <small>{{vmNav.lecture.created}}</small>
                    </p>
                    <p>
                        <small>{{vmNav.lecture.updated}}</small>
                    </p>
                </div>
            </div>
            <div class="col-xs-8">
                <div id="subject" class="text-right">
                    <small class="mySmall">{{vmNav.subject.title}}</small>
                    {{vmNav.lecture.title}}
                </div>
            </div>
            <!--<div class="col-xs-8">-->
            <!--<div id="hashtags" class="text-left"><p>#bigban #londonisthecapitalofgreatbritain #amabritishbitches-->
            <!--#whatdoyouknowaboutlife</p></div>-->
            <!--</div>-->
        </div>

        <!--/.nav-collapse -->
    </div>
</header>

