<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-rj-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="#page-top" class="pull-left"><img src="../../images/wand.png" style="max-height: 50px"></a>
        </div>
        <!-- //.navbar-header -->

        <div class="navbar-collapse collapse" id="navbar-rj-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="#who-we-are">About</a>
                </li>

                <li class="page-scroll">
                    <a href="#forms">Log in</a>
                </li>

                <li class="page-scroll">
                    <a href="#forms">Sign up</a>
                </li>
            </ul>
        </div>
        <!-- //.navbar-collapse -->
    </div>
</nav>
<section id="intro">
    <div class="intro-body text-center">
        <div class="container-fluid intro-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <h1>Conspectus Patronum</h1>
                    </div>
                    <div class="intro-text text-center">
                        <h2>Get your notes systemised.</h2>

                        <p class="lead">And, for God's sake, forget about hand-written notes. We are in 21st century.</p>
                    </div>
                </div>
            </div>
            <div class="row page-scroll">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <a role="button" class="pull-right" href="#forms">Sign in</a>
                </div>
                <div class="col-md-3">
                    <a role="button" class="pull-left" href="#forms">Sign up</a>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</section>
<section id="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 with-sign-in text-center">
                <h3>Sign in with existing account</h3>
                <form class="center-block">
                    <fieldset>
                        <input type="text" name="login" placeholder="Nickname" mg-model="vmLanding.nickname"><br>
                        <input type="password" name="password" placeholder="Password" ng-model="vmLanding.password"><br>
                        <input type="submit" value="Sign in" ng-click="vmLanding.logIn()">
                    </fieldset>
                </form>
            </div>
            <div class="col-md-6 with-sign-up text-center">
                <h3>Not registered yet?</h3>
                <form class="center-block">
                    <fieldset>
                        <input type="text" name="login_reg" placeholder="Nickname"><br>
                        <input type="password" name="password_reg" placeholder="Password"><br>
                        <input type="password" name="confirm_password_reg" placeholder="Confirm the password"><br>
                        <input type="submit" value="Sign up">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
