<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-rj-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="#page-top" class="pull-left"><img src="../../images/wand.png" style="max-height: 50px"></a>
        </div>
        <!-- //.navbar-header -->

        <div class="navbar-collapse collapse" id="navbar-rj-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="#who-we-are">Про автора</a>
                </li>

                <li class="page-scroll">
                    <a href="#forms">Увійти</a>
                </li>

                <li class="page-scroll">
                    <a href="#forms">Зареєструватись</a>
                </li>
            </ul>
        </div>
        <!-- //.navbar-collapse -->
    </div>
</nav>
<section id="intro">
    <div class="intro-body text-center">
        <div class="container-fluid intro-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <h1>Conspectus Patronum</h1>
                    </div>
                    <div class="intro-text text-center">
                        <h2>Зручний додаток для ведення електронного конспекту</h2>
                    </div>
                </div>
            </div>
            <div class="row page-scroll">
                <div class="col-md-12 text-center">
                    <h1 class="glyphicon glyphicon-menu-down"></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 with-sign-in text-center">
                <h3>Увійти</h3>
                <form novalidate name='signin' class="center-block">
                    <fieldset>
                        <input type="text" name="login" placeholder="Нікнейм" mg-model="vmLanding.nickname">
                        <br>
                        <input type="password" name="password" placeholder="Пароль" ng-model="vmLanding.password"
                        ng-minlength="8"
                        uib-popover="Невірний пароль" popover-trigger="click"  popover-placement='right'>
                        <br>
                        <input type="button" ng-click="vmLanding.logIn()" value="Увійти" ng-click="vmLanding.logIn()">
                    </fieldset>
                </form>
            </div>
            <div class="col-md-6 with-sign-up text-center">
                <h3>Що не зареєстрований?</h3>
                <form novalidate name='sighup' class="center-block" ng-submit="vmLanding.register()">
                    <fieldset>
                        <input type="text" name="login" placeholder="Нікнейм" ng-model="vmLanding.user.name"><br>
                        <input type="password" name="pass" placeholder="Пароль" ng-model="vmLanding.user.pass"
                               ng-minlength="8"
                               uib-popover="Пароль має містити не менше 8 символів" popover-trigger="click"  popover-placement='right'><br>
                        <input type="password" name="confirm_password_reg" placeholder="Підтверди пароль"><br>
                        <input type="submit" value="Зареєструватись">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
