<div class="container-fluid add-project-container">
    <div class="row-fluid">
        <div class="modal-body">
            <div
                pw-color-selector="['#000', '#9CB199', '#CF3759', '#485247', '#E77547', '#D38E47', '#0A6A74', '#153974']"
                color="vmModal.color"></div>
            <div class="undo">
                <button ng-click="vmModal.undo()"
                        ng-disabled="vmModal.version < 1">Відмінити
                </button>
            </div>
            <div pw-canvas options="{width: 560, height: 380, color: vmModal.color,
                                                lineWidth: 1, undo: true}" version="vmModal.version"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-default"
            ng-click="vmModal.dismiss()">
            Відмінити
        </button>
        <button
            class="btn btn-default">
            Зберегти
        </button>
    </div>
</div>
